In [37]:
"""
Course: dpat4
Lab: 04
Part: 1
"""

import pandas as pd
import numpy as np
import time

from contextlib import contextmanager

TIMER: dict = {}

def record(lib: str, task: str, timer: float) -> None:
    """
    Record the elapsed time of the task using specific lib
    :param lib: the name of the lib used (numpy, pandas)
    :param task: task number (task1)
    :param timer: time used to complete the task
    :return: None
    """
    global TIMER
    
    if lib not in TIMER:
        TIMER[lib] = {}
    TIMER[lib][task] = timer
    

def get_indexes(dataframe: pd.DataFrame) -> None: 
    cols = {col: idx for idx, col in enumerate(dataframe.columns)}
    
    return print(cols)


@contextmanager
def timed_operation(lib: str, task: str):
    task_start = time.time()
    yield
    task_end = time.time()
    elapsed_time = round(task_end - task_start, 6)
    record(lib, task, elapsed_time)
    print(f'{elapsed_time=}')


URL = "household_power_consumption.csv"

print('Setup complete...')

Setup complete...

## Task No. 0
Desc: Імпортування датасету

In [32]:
# task: 0
# desc: importing dataset
# lib: pandas

task_start = time.time()

pd_data = pd.read_csv(URL, sep=';', na_values='?')
pd_data.dropna(inplace=True)

task_end = time.time()
elapsed_time = round(task_end - task_start, 6)
record('pandas', 'task0', elapsed_time)

print(f'{elapsed_time=}')
pd_data.head()

elapsed_time=1.913653

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [33]:
# task: 0
# desc: importing dataset
# lib: numpy

task_start = time.time()

dtypes = [
    ('Date', 'U10'), 
    ('Time', 'U8'), 
    ('Global_active_power', 'f8'), 
    ('Global_reactive_power', 'f8'), 
    ('Voltage', 'f8'), 
    ('Global_intensity', 'f8'), 
    ('Sub_metering_1', 'f8'), 
    ('Sub_metering_2', 'f8'), 
    ('Sub_metering_3', 'f8')
]

np_data = np.genfromtxt(
    URL, 
    delimiter=';',
    missing_values='?',
    filling_values=np.nan,
    dtype=dtypes,
    encoding=None,
    names=True
)

np_columns = [col for col, _ in dtypes[2:]]
mask = np.all([~np.isnan(np_data[col]) for col in np_columns], axis=0)

# mask = ~np.isnan(np_data['Global_active_power']) & \
#        ~np.isnan(np_data['Global_reactive_power']) & \
#        ~np.isnan(np_data['Voltage']) & \
#        ~np.isnan(np_data['Global_intensity']) & \
#        ~np.isnan(np_data['Sub_metering_1']) & \
#        ~np.isnan(np_data['Sub_metering_2']) & \
#        ~np.isnan(np_data['Sub_metering_3'])

np_data_clean = np_data[mask]

task_end = time.time()
elapsed_time = round(task_end - task_start, 6)
record('numpy', 'task0', elapsed_time)

print(f'{elapsed_time=}')
np_data

elapsed_time=18.562593

array([('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.),
       ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.),
       ...,
       ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

## Task No. 1
Desc: Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує **5 кВт**.

In [34]:
# task: 1
# desc: get all households, where general active power > 5 kWh
# lib: pandas

task_start = time.time()
pd_active_power = pd_data[pd_data['Global_active_power'] > 5]

task_end = time.time()
elapsed_time = round(task_end - task_start, 6)
record('pandas', 'task1', elapsed_time)

print(f'{elapsed_time=}')
pd_active_power

elapsed_time=0.121399

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,22/11/2010,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,22/11/2010,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,24/11/2010,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,24/11/2010,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,25/11/2010,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

In [35]:
# task: 1
# desc: get all households, where general active power > 5 kWh
# lib: numpy

task_start = time.time()
np_active_power = np_data[np_data['Global_active_power'] > 5]

task_end = time.time()
elapsed_time = round(task_end - task_start, 6)
record('numpy', 'task1', elapsed_time)

print(f'{elapsed_time=}')
np_active_power

elapsed_time=0.145494

array([('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0.,  1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0.,  2., 17.),
       ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0.,  1., 17.),
       ...,
       ('24/11/2010', '07:50:00', 5.172, 0.05 , 235.18, 22. , 0., 38., 17.),
       ('24/11/2010', '07:51:00', 5.75 , 0.   , 234.4 , 24.6, 0., 39., 17.),
       ('25/11/2010', '07:21:00', 5.074, 0.24 , 238.55, 21.4, 1.,  2., 18.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

## Task No. 2
Обрати всі домогосподарства, у яких вольтаж перевищує 235 В.

In [36]:
# task: 2
# desc: get all households where voltage is > 235
# lib: pandas

task_start = time.time()
pd_voltage = pd_data[pd_data['Voltage'] > 235]

task_end = time.time()
elapsed_time = round(task_end - task_start, 6)
record('pandas', 'task2', elapsed_time)

print(f'{elapsed_time=}')
pd_voltage

elapsed_time=0.236637

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [ ]:
# task: 2
# desc: get all households where voltage is > 235
# lib: numpy

task_start = time.time()

np_voltage = np_data[np_data['Voltage'] > 235]

task_end = time.time()
elapsed_time = round(task_end - task_start,6)
record('numpy', 'task2', elapsed_time)
print(f'{elapsed_time=}')

np_voltage

In [ ]:
TIMER

Task: No. 3
Desc: Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [ ]:
"""
task: 3
desc: Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.
lib: pandas
"""

task_start = time.time()
temp = pd_data[(pd_data['Global_intensity'] >= 19) & (pd_data['Global_intensity'] <= 20)]

specific_consumption = temp[(temp['Sub_metering_1'] + temp['Sub_metering_2']) > (temp['Sub_metering_3'])]
task_end = time.time()

elapsed_time = round(task_end - task_start, 6)
record('pandas', 'task3', elapsed_time)

print(f'{elapsed_time=}')
specific_consumption

In [ ]:
"""
task: 3
desc: Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.
lib: numpy
"""

task_start = time.time()

# Global_intensity col for range >= 19 and <= 20
current_range = np_data[(np_data['Global_intensity'] >= 19) & (np_data['Global_intensity'] <= 20)]

# sum of the Sub_metering groups
sub_metering_1_2 = current_range['Sub_metering_1'] + current_range['Sub_metering_2']
sub_metering_3 = current_range['Sub_metering_3']

# getting df were sub_metering_1 + sub_metering_2 > sub_metering_3
specific_consumption = current_range[sub_metering_1_2 > sub_metering_3]

task_end = time.time()
elapsed_time = round(task_end - task_start, 6)
record('numpy', 'task3', elapsed_time)

print(f'{elapsed_time=}')
specific_consumption

In [ ]:
TIMER

Task: No. 4
Desc: Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки) для них обчислити середні величини усіх 3-х груп споживання електричної енергії

In [ ]:
"""
task: 4
desc: Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки) для них обчислити середні величини усіх 3-х груп споживання електричної енергії
lib: pandas
"""

task_start = time.time()

# random 500000 items, random_state - seed for the random generator
pd_random_households = pd_data.sample(n=500000, random_state=1).reset_index(drop=True)

pd_mean_consumption = pd_random_households[
    ['Global_active_power', 
     'Global_intensity', 
     'Voltage', 
     'Sub_metering_1', 
     'Sub_metering_2', 
     'Sub_metering_3']
].mean()

print(f'Mean consumption:\n{pd_mean_consumption}')

task_end = time.time()
elapsed_time = round(task_end - task_start, 6)
record('pandas', 'task4', elapsed_time)

print(f'{elapsed_time=}')
pd_random_households

Task: No. 5 (4.1)
Desc: Обрати ті домогосподарства, які після 18-00 споживають понад **6 кВт** за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половин.

In [ ]:
# pandas - task5 (4.1)

task_start = time.time()

time_threshold = pd.to_datetime('18:00:00').time()

# 6 кВт past time_threshold
pd_evening_consumption = pd_random_households[
    (pd_random_households['Time'] >= time_threshold) & 
    (pd_random_households['Global_active_power'] > 6)
]

# where consumption in the group 2 is greater than 3 and 1 combined
pd_main_consumption = pd_evening_consumption[
    pd_evening_consumption['Sub_metering_2'] > 
    pd_evening_consumption[
        ['Sub_metering_1', 'Sub_metering_3']
    ].max(axis=1)
]

# from the first half, every third part
pd_first_half = pd_main_consumption.iloc[:len(pd_main_consumption) // 2].iloc[::3]

# from the second half, every fourth part
pd_second_half = pd_main_consumption.iloc[len(pd_main_consumption) // 2:].iloc[::4]

# merging the first and second halves
pd_final_selection = pd.concat([pd_first_half, pd_second_half])

task_end = time.time()
elapsed_time = round(task_end - task_start, 6)
record('pandas', 'task5', elapsed_time)

print(f'{elapsed_time=}')
pd_final_selection